<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>lista de streams de un canal de booyah</h1>
    
    //Ya hice la wea, dejame explicarte algo primero, puedes usar lo 
    // de -10 para que sea una variable o algo asi y elegir el tiempo
    //que dura el clip, anda a encode
</body>
</html>



